{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Tableau de bord</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Paroissiens</h5>
                        <p class="card-text">{{ total_paroissiens }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Personnels</h5>
                        <p class="card-text">{{ total_personnels }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Titres de Personnel</h5>
                        <ul>
                            {% for titre, count in titres_stats %}
                                <li>{{ titre }}: {{ count }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
