{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
	<div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
		<div class="layout-container flex h-full grow flex-col">
			<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f4] px-10 py-3">
				<div class="flex items-center gap-4 text-[#111418]">
					<div class="size-4">
						<svg viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z" fill="currentColor"></path>
						</svg>
					</div>
					<h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">GEPAKOS</h2>
				</div>
			</header>
			<div class="px-40 flex flex-1 justify-center py-5">
				<div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
					<h3 class="text-[#111418] tracking-light text-2xl font-bold leading-tight px-4 text-center pb-2 pt-5">Bienvenue sur GEPAKOS</h3>
					<h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Raccourcis</h2>
					<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">

						<div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 items-center cursor-pointer w-max">
							<div class="text-[#111418]" data-icon="UsersFour" data-size="24px" data-weight="regular">
								<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewbox="0 0 256 256">
									<path d="M27.2,126.4a8,8,0,0,0,11.2-1.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,93.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,115.2,8,8,0,0,0,27.2,126.4ZM176,40a24,24,0,1,1-24,24A24,24,0,0,1,176,40ZM80,40A24,24,0,1,1,56,64,24,24,0,0,1,80,40ZM203,197.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,219.2a8,8,0,1,0,12.8,9.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,197.51ZM80,144a24,24,0,1,1-24,24A24,24,0,0,1,80,144Zm96,0a24,24,0,1,1-24,24A24,24,0,0,1,176,144Z"></path>
								</svg>
							</div>
							<h2 class="text-[#111418] text-base font-bold leading-tight">
								<a href="{{ path('app_inscriptions') }}">Inscriptions</a>
							</h2>
						</div>


						<div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 items-center cursor-pointer">
							<div class="text-[#111418]" data-icon="UsersFour" data-size="24px" data-weight="regular">
								<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewbox="0 0 256 256">
									<path d="M27.2,126.4a8,8,0,0,0,11.2-1.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,93.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,115.2,8,8,0,0,0,27.2,126.4ZM176,40a24,24,0,1,1-24,24A24,24,0,0,1,176,40ZM80,40A24,24,0,1,1,56,64,24,24,0,0,1,80,40ZM203,197.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,219.2a8,8,0,1,0,12.8,9.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,197.51ZM80,144a24,24,0,1,1-24,24A24,24,0,0,1,80,144Zm96,0a24,24,0,1,1-24,24A24,24,0,0,1,176,144Z"></path>
								</svg>
							</div>
							<h2 class="text-[#111418] text-base font-bold leading-tight">Voir les fiches</h2>
						</div>
						<div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 items-center cursor-pointer">
							<div class="text-[#111418]" data-icon="UsersFour" data-size="24px" data-weight="regular">
								<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewbox="0 0 256 256">
									<path d="M27.2,126.4a8,8,0,0,0,11.2-1.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,93.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,115.2,8,8,0,0,0,27.2,126.4ZM176,40a24,24,0,1,1-24,24A24,24,0,0,1,176,40ZM80,40A24,24,0,1,1,56,64,24,24,0,0,1,80,40ZM203,197.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,219.2a8,8,0,1,0,12.8,9.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,197.51ZM80,144a24,24,0,1,1-24,24A24,24,0,0,1,80,144Zm96,0a24,24,0,1,1-24,24A24,24,0,0,1,176,144Z"></path>
								</svg>
							</div>
							<h2 class="text-[#111418] text-base font-bold leading-tight">
								<a href="{{ path('app_paroissien_index') }}">Liste des Paroissiens</a>
							</h2>
						</div>
						<div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 items-center cursor-pointer">
							<div class="text-[#111418]" data-icon="UsersFour" data-size="24px" data-weight="regular">
								<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewbox="0 0 256 256">
									<path d="M27.2,126.4a8,8,0,0,0,11.2-1.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,93.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,115.2,8,8,0,0,0,27.2,126.4ZM176,40a24,24,0,1,1-24,24A24,24,0,0,1,176,40ZM80,40A24,24,0,1,1,56,64,24,24,0,0,1,80,40ZM203,197.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,219.2a8,8,0,1,0,12.8,9.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,197.51ZM80,144a24,24,0,1,1-24,24A24,24,0,0,1,80,144Zm96,0a24,24,0,1,1-24,24A24,24,0,0,1,176,144Z"></path>
								</svg>
							</div>
							<h2 class="text-[#111418] text-base font-bold leading-tight">Liste des baptemes</h2>
						</div>
						<div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 items-center cursor-pointer">
							<div class="text-[#111418]" data-icon="UsersFour" data-size="24px" data-weight="regular">
								<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewbox="0 0 256 256">
									<path d="M27.2,126.4a8,8,0,0,0,11.2-1.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,93.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,115.2,8,8,0,0,0,27.2,126.4ZM176,40a24,24,0,1,1-24,24A24,24,0,0,1,176,40ZM80,40A24,24,0,1,1,56,64,24,24,0,0,1,80,40ZM203,197.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,219.2a8,8,0,1,0,12.8,9.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,197.51ZM80,144a24,24,0,1,1-24,24A24,24,0,0,1,80,144Zm96,0a24,24,0,1,1-24,24A24,24,0,0,1,176,144Z"></path>
								</svg>
							</div>
							<h2 class="text-[#111418] text-base font-bold leading-tight">Liste des mariages</h2>
						</div>
					</div>
					<div class="absolute top-[-9px] right-10 flex px-4 py-3 ">
						<button class="flex min-w-[84px] max-w-[480px] bg-red-700 cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 ] text-[#ffffff] text-sm font-bold leading-normal tracking-[0.015em]">
							<span class="truncate">Deconnexion</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="flex justify-between w-4/5 items-center m-auto mb-[20px]">
			<div class="text-[0.9rem]">
				<a href="#">&copy; 2024</a>
			</div>
			<div class="text-[0.9rem] ">
				<a href="#">Termes et conditions</a>
			</div>
			<div class="text-[0.9rem]">
				<a href="#">Comment ça fonctionne</a>
			</div>


		</div>
	</div>
{% endblock %}
