<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""/>
		<link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Work+Sans%3Awght%40400%3B500%3B700%3B900"/>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %} 
		{% endblock %} 
	</head>
	<body>
		{% block body %}
		{% block leftcomp %}
		{% endblock leftcomp %}
		{% endblock %}
	</body>
	<script>
    document.addEventListener('DOMContentLoaded', () => {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            setTimeout(() => {
                alert.style.transition = 'opacity 0.5s ease-out';
                alert.style.opacity = '0';
                setTimeout(() => alert.remove(), 500); // Supprimer l'élément après l'animation
            }, 5000); // Disparaît après 5 secondes
        });
    });
</script>
</html>
